.navbar-brand img {
	height: 150%;
    display: inline;
    position: relative;
    top: -30%;
}

.navbar-brand span {
	font-size: 1.5em;
	margin-left: 0.25em;
}

.navbar {
	margin-bottom: 0px;
}

.collapse.navbar-collapse:not(.in) .usernameInput {
	width: 7em !important;
}

.collapse.navbar-collapse:not(.in) .passwordInput {
	width: 7em !important;
}

.collapse.navbar-collapse.in .mobile-label {
	display: inline-block;
}

.collapse.navbar-collapse .mobile-label {
	display: none;
}

body {
    padding-top: 50px;
    position: relative !important;
    padding-bottom: 3.5em;
	min-height: 100vh;
}

body.userPage {
	padding-top: 70px;
}

textarea {
	resize: vertical;
}

.submitButtonsContainer-scroller.scrolling {
    position: fixed;
    bottom: 0;
	margin-bottom: -5px;
    z-index: 5;
    width: 100%;
    background: #f8f8f8;
    padding-top: 10px;
    left: 0;
    padding-left: 0px;
	margin-left: 0px;
}

.page-header {
    margin-top: 0px;
}

.submitButtonsContainer-scroller {
    position: relative;
    bottom: 0;
    z-index: 5;
    width: auto;
    background: transparent;
    padding-top: 0px;
    left: 0;
    padding-left: 0px;
	margin-left: -15px;
}

.icon-link a {
	padding-top: 9px !important;
	padding-bottom: 9px !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.icon-link.telegram .fa-square {
	color: #0088cc;
}

.icon-link.facebook .fa-square {
	color: #3b5998;
}

.icon-link.twitter .fa-square {
	color: #1da1f2;
}

.icon-link .fa-square {
	color: #75C5F0;
}

.icon-link .fa-comments {
	color: #FFF;
}

.icon-link .fa-image {
	color: #FFF;
}

.badge-container {
    position: relative;
    padding: 1em;
    display: inline-block;
    width: 100%;
}

.badge-container.fursuit-badge {
	padding-left: 6em;
}

.badge-container.account-header {
	padding-left: 9em;
	margin-bottom: 1em;
}

.well.account-header h1 {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

.registration-summary .list-group {
	margin-bottom: 0;
}

.badge-container.fursuit-badge .badge-image {
	height: 5em;
}

.badge-container.account-header .badge-image {
	height: 8em;
}

.badge-container .badge-image {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}

.badge-container h3 {
	margin-top: 0;
}

.badge-container h3 .label {
	
}

.badge-container.account-header h3 {
	padding-bottom: 0.5em;
}

.badge-container.fursuit-badge:first-child {
	margin-top: 0;
}

.badge-container.fursuit-badge {
	margin-top: 1em;
}

.badge-container.fursuit-badge h3 {
	padding-top: 0.2em;
}

.badge-container .info-container {
	/*border-left: 0.1em solid black;*/
}

.badge-container .section-title br {
	display: none;
}

@media only screen and (max-width: 600px) {
	.badge-container .badge-image {
		position: relative;
	}
	
	.badge-container {
		text-align: center;
	}
	
	.badge-container .section-title br {
		display: inline;
	}
	
	.badge-container.account-header,
	.badge-container.fursuit-badge	{
		padding-left: 0;
	}
}

.icon-link.nfcweb .fa-paw {
    background-image: url("../img/NFCicon.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 50% 50%;
    color: transparent;
}

.icon-link.nfcweb .fa-square {
	color: #e7f5fe;
}

.footer {
	width: 100%;
	margin-top: 1em;
	padding: 1em;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 0;
}

.footer img {
	height: 6em;
	padding: 1em;
}

.page-intro.container-fluid {
	width: 100%;
	background-image: url("../img/Gunnerus_cEdit_1920wpx.jpg");
	background-size: cover;
	background-position: 50% 50%;
	min-height: 30em;
}

.mainPage section.calendar {
	margin-top: -5em;
}

.cruiseDayForm .cal-day-inmonth {
	cursor: pointer;
}

.selected-date {
	background: #6695c5;
}

a.btn {
	text-decoration: none;
}
.mainPage > section.container-fluid, .mainPage > section.container {
	padding-top: 1em;
}

.navbar-collapse.collapsing .navbar-form .input-group, .navbar-collapse.collapse.in .navbar-form .input-group {
    padding-bottom: 0.5em;
}

/* regform css */
.section-header:first-child h3 {
	margin-top: 0;
}

.form-group .btn-group {
	display: inline-block;
    width: 100%;
}

.item-cost {
	float: right;
}

.total-price {
	float: right;
}

.total-price, .sum-label {
	line-height: 36px;
}

.cost-container button {
	display: none;
}

.wrapped .cost-container button {
	display: inline;
}

.wrapped .cost-container .panel-heading:hover .glyphicon-remove {
	color: #2f2f2f;
}

.cost-container .panel-heading .glyphicon-remove {
	display: none; 
}

.wrapped .cost-container .panel-heading,
.wrapped .cost-container .panel-footer {
	cursor: pointer;
}

.wrapped .cost-container .panel-heading .glyphicon-remove {
    position: absolute;
    right: 0.75em;
    top: 0.75em;
	transition: color 0.25s ease;
	display: inline;
}

.cost-container button .glyphicon-plus {
	display: none;
}

.cost-container button .glyphicon-minus {
	display: inline;
}

.cost-container.closed button .glyphicon-plus {
	display: inline;
}

.cost-container.closed button .glyphicon-minus {
	display: none;
}

.cost-container button {
	margin-right: 0.5em;
}

.cost-container.affix {
	top: 70px;
}

.affix {
    position: fixed !important;
}

.wrapped .cost-container {
	position: fixed !important;
	bottom: 0px !important;
	top: auto !important;
	margin-bottom: 0;
	z-index: 5;
}

.cost-container .panel-body, .cost-container .panel-heading {
	transition: height 0.25s ease, padding 0.25s ease, opacity 0.25s ease;
	overflow: hidden;
}

.cost-container.closed .panel-body,
.cost-container.closed .panel-heading {
	height: 0;
	padding: 0;
	opacity: 0;
}

.wrapped .sidebar-container {
	height: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.form-group label,
.cost-container .panel-footer,
 .noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none; 
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.form {
	float:left;
	width: 66%;
	padding: 1em;
	padding-bottom: 0;
}

#regform_wrap.wrapped  .sidebar-container,
#regform_wrap.wrapped .form {
	float: none;
	width: 100%;
}

#regform_wrap {
	padding-bottom: 1.5em;
}

.clearfix::after {
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

#regform_wrap::after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.sidebar-container {
	float: left;
	width: 33%;
	padding: 1em;
}

.cost-container {
	margin-top: 0px;
}

.price-item {
	width: 100%;
	display: inline-block;
}